:root{
    --black: #333333;
    --blue: #2F80ED;
    --gray: #a9a9a9;
    --gray4: #bdbdbd;
    --gray3: #828282;
}
*{box-sizing: border-box;}
html, body, #root, .App{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0 25vw;
}


@media screen and (max-width: 650px){
    body{
        padding: 0 10vw;
    }
}

@media screen and (max-width: 350px){
    body{
        padding: 0;
    }
}