.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: -2.5px;
    font-size: 36px;
    margin-bottom: 10px;
}